html{
    height: 100%;
    width: 100%;
}

.global-container{
    display: block;
    height: 100vh;
}

.nav-bar-mini{
    width: 100%;
    display: flex;
}

.left-panel{
    margin-top: 5px;
    display: flex;
    align-items: stretch;
    width: 45%;
    justify-content: space-evenly;
}

.left-panel a{
    color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
}

.left-panel a:focus{
    border-bottom: 2px solid #1a73e8;
}
.right-panel{
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 1%;
    width: 30%;
    justify-content: space-evenly;
}

.sign-in{
    background-color: #1a73e8;
    color: white;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 13px;
}

.main-container{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-top: 20%;
    padding: 10% 0;
}

.main-container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    padding: 5% 0;
}
.google-logo{
    width: 50%;
    max-width: 272px;
    margin-bottom: 15px;
}

.google-logo-img{
    margin-left: auto;
    max-width: 100%;

}

.search-box{
    width: 100%;
    margin-bottom: 20px;
}

.search-box-container{
    display: flex;
    width: 100%;
    border: 1px solid #cccccc;
    justify-content: space-between;
    border-radius: 30px;
}

.misc{
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 10px;
    opacity: 0.4;
}

.weather, .sports, .watch, .food{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 45%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-size: 13px;
    color: gray;
}

a{
    color: gray;
    text-decoration: none;
}

.location{
    border-bottom: 1px solid #d8d4d4;
}
.panel1{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.panel2{
    display: flex;
    padding: 5px;
    justify-content: space-around;
}

.bottom a:hover{
    text-decoration: underline;
}
